<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDOrUqINn_WWS-lT3-zQueCI-1yteppx9Y</string>
	<key>GCM_SENDER_ID</key>
	<string>615477680904</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.bluetoothwp</string>
	<key>PROJECT_ID</key>
	<string>bluetoothwp</string>
	<key>STORAGE_BUCKET</key>
	<string>bluetoothwp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:615477680904:ios:9f79b8bfa9bc44a2046abd</string>
</dict>
</plist>